@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

/* input, button {
    font: inherit;
} */

p {
    line-height: 1.3;
    letter-spacing: 0.15em;
    word-spacing: 0.75em;
    font-weight: 400;
    
}