@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a:visited {
    color: purple;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}


a:hover, a:focus {
    /*color: yellow;*/
    opacity: 0.6;
    background-color: turquoise;
}

a:active {
    color: green;
}